$bg-grad-top: #132E4C;
$bg-grad-bot: #060F19;

$grade-s      :#d8c34b;
$grade-aplus  :#4268ff;
$grade-a      :#25baff;
$grade-b      :#4fc512;
$grade-cplus  :#a8f385;
$grade-c      :#d1fbbc;
$grade-d      :#c8c8c8;
$grade-f      :#ff0000;
$grade-fminus :#ff0000;





$pt-bug      : linear-gradient(135deg, #9fcb35 0%,#f6ec59 100%);
$pt-dark     : linear-gradient(135deg, #3d3746 0%,#6b667b 100%);
$pt-dragon   : linear-gradient(135deg, #2248a1 0%,#0393d2 100%);
$pt-electric : linear-gradient(135deg, #ffd03d 0%,#ffe98c 100%);
$pt-fairy    : linear-gradient(135deg, #eb8de6 0%,#ffc9f7 100%);
$pt-fighting : linear-gradient(135deg, #c32b52 0%,#e54245 100%);
$pt-fire     : linear-gradient(135deg, #ff7f22 0%,#ffc547 100%);
$pt-flying   : linear-gradient(135deg, #93dfff 0%,#beedff 100%);
$pt-ghost    : linear-gradient(135deg, #281265 0%,#563fba 100%);
$pt-grass    : linear-gradient(135deg, #32a548 0%,#8ed769 100%);
$pt-ground   : linear-gradient(135deg, #a06648 0%,#df9257 100%);
$pt-ice      : linear-gradient(135deg, #89e0df 0%,#a7f7ea 100%);
$pt-normal   : linear-gradient(135deg, #8f97a1 0%,#c7c6c6 100%);
$pt-poison   : linear-gradient(135deg, #7600bd 0%,#ca19e4 100%);
$pt-psychic  : linear-gradient(135deg, #ff8c8e 0%,#ff9f8f 100%);
$pt-rock     : linear-gradient(135deg, #bcae8c 0%,#e5ddb5 100%);
$pt-steel    : linear-gradient(135deg, #386c81 0%,#88bec0 100%);
$pt-water    : linear-gradient(135deg, #1387ef 0%,#71dbff 100%) ;